;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:cli {:target :node-script
        :main cli/init
        :output-to "out/main.js"}}}
